<div class="container-fluid">
	<h2>Principal's Message</h2>
	<p style="width: 80%;" class="text-justify;">
		Welcome, <br> <br> Horace Mann Laboratory School has a
		unique place in the history of Northwest Missouri State University. As
		a laboratory school, we are dedicated to educational excellence,
		teacher preparation and child study and research.<br> <br>
		As a learning laboratory for Northwest Missouri State University
		students, we make it our priority to provide learning experiences that
		enable pre-service teachers to observe and implement practices that
		honor and value developmental learning. Problem solving, critical
		thinking, and collaboration experiences are supported and encouraged
		in the lab school. Meeting the needs of every child, challenging and
		supporting all students, and providing a rich and engaging experience
		are just a few of the reasons Horace Mann Lab School is the school of
		choice for our families.<br> <br> We value children by
		encouraging them to share, listen, learn, and explore. We embrace each
		child's energy, curiosity, and developing skills. Horace Mann Lab
		School is an extension of home with a warm, welcoming learning
		atmosphere. Horace Mann is centrally located on the Northwest campus
		and looking out our classroom windows, you see Colden Pond, Nature
		Explore Outdoor Learning Classroom, Bearcat Stadium, Missouri Academy
		of Science, Math and Computing, and Owens Library. Our students
		participate in learning opportunities in all of these locations.<br>
		<br> We invite you to visit our campus, tour our school, and meet
		with the teachers and students to experience our exceptional learning
		environment. Please contact us: phone 660.562.1233; email
		sseipel@nwmissouri.edu.<br> <br> Best regards,<br>
		Sandy Seipel<br> Principal, Horace Mann Laboratory School
	</p>
</div>