<div class="container-fluid">
<h2>Instructional Practices and Curriculum</h2>
<p style="width: 80%;" class="text-justify;">
Horace Mann provides academic programs for children in kindergarten through sixth grades.  We believe in educating the whole child and want to help children develop their talents in all areas.  We offer Shared Studies courses, Art, Music, PE, 90 minutes per week.  Art is offered in two 45 minute sessions.  Music and PE are both offered in three 30 minute sessions each week.  Band is offered to our fifth and sixth graders.<br> <br>
Preschool, pre-Kindergarten, and Kindergarten classes are housed in the newly created Leet Center for Children and Families located within the Horace Mann school building.<br><br>
University practicum students work with the master teacher to instruct children in literacy, math, science, and social studies. Daily instruction occurs in both whole class and small group settings using a variety of innovative instructional best practices.<br><br>
Horace Mann develops a rich, varied, and rigorous curriculum using Missouri Learning Standards. Horace Mann teachers work closely with University departments to provide educational resources for students. Collaboration with various departments create a continuous learning environment for all Horace Mann students and University students.<br><br>
No two children learn in the same way or at the same pace. At Horace Mann, the academic program strives to meet the unique learning needs of each child. Academic programs are constantly modified and adjusted to meet these needs. Learners with special learning needs receive specialized instruction from a highly qualified teacher.
<br><br>
At Horace Mann we believe that experiences outside the regular classroom greatly enhance the child's learning. Each week students participate in a variety of shared studies courses. Master teachers instruct children in art, vocal music, instrumental music, Spanish, physical education, and sign language.  Students spend 90 minutes each per week studying art, music, and physical education.<br><br>
Shared studies are an essential part of Horace Mann's mission to educate the whole child.
</p>
</div>